
.noteIntro {
font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
--bg-size: 400%;
--color-one: #591269;
--color-two: #ff2f5b;
--color-three: #ff8b45;
--color-four: #36126a;
font-size: 20px;
background: linear-gradient(
              90deg,
              var(--color-one),
              var(--color-two),
              var(--color-three),
              var(--color-two),
              var(--color-one),
              var(--color-four)

              ) 0 0 / var(--bg-size) 100%;
              color: transparent;
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-background-clip: text;
              animation: move-bg 8s infinite linear;
            }

            @keyframes move-bg {
              to {
                background-position: var(--bg-size) 0;
              }
            }

            @media (prefers-reduced-motion: no-preference) {
.boujee-text {
  animation: move-bg 8s linear infinite;
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}
}