.navImage {
  /* flex box layout */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dab7e2;
  overflow: hidden;
  margin-bottom: -15px;
  min-width: 500px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  margin: 0;
}
/*orange #ff8b45 pink #ff2f5b purple #591269 blue #36126a */
.navLink {
  display: inline-block;
  color: #36126a;
  background-color: #dab7e2;
  text-align: center;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  font-size: 25px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.linkDiv {
  width: 100%;
  background-color: #dab7e2;
  min-width: 500px;
}

.navLink:hover {
font-weight: bold;
}
